<h2><%= I18n.t("plugins.accessions_received_report.title") %></h2>
<div>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
    <tr> 
      <th><%= @params['start_date'] %> &mdash; <%= @params['end_date'] %></th>
      <th><%= I18n.t("plugins.accessions_received_report.number") %></th>
      <th><%= I18n.t("plugins.accessions_received_report.extent") %></th>
    </tr>
    <tr>
      <th><%= I18n.t("plugins.accessions_received_report.new") %></th>
      <td><%= @data['new_accs'] %></td>
      <td><%= @data['new_extent'].round(2) %></td>
    </tr>
    <tr>
      <th><%= I18n.t("plugins.accessions_received_report.additions") %></th>
      <td><%= @data['add_accs'] %></td>
      <td><%= @data['add_extent'].round(2) %></td>
    </tr>
    <tr>
      <th><%= I18n.t("plugins.accessions_received_report.total") %></th>
      <td><%= @data['total_accs'] %></td>
      <td><%= @data['total_extent'].round(2) %></td>
    </tr>
    </tbody>
  </table>

</div>
